html,body{
  height: 100%;
}
#root,.ant-layout-sider{
  height: 100%;
  overflow: hidden;
  
}
#root{
  position: relative;
}
.logo{
  height: 64px;
  line-height: 64px;
  text-align: center;
  color: #fff;
}
